[Desktop Entry]
Name=Visual Studio Code - URL Handler
Comment=Opens vscode:// links (sign-in, Settings Sync)
Exec=code --open-url %U
Icon=io.github.lucarickli.Code
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/vscode;
